[Unit]
Description=GQ Create SSH Keys Script
Requires=NetworkManager.service
After=NetworkManager.service
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-create-ssh-keys

[Install]
WantedBy=multi-user.target