[Unit]
Description=GQ Create SSH Keys Script
After=networking.target

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-create-ssh-keys

[Install]
WantedBy=multi-user.target