[Unit]
Description=GQ Get Userdata Script
Requires=Network-Manager.service
After=Network-Manager.service

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-get-userdata

[Install]
WantedBy=multi-user.target