[Unit]
Description=GQ Get SSH Keys Script
Requires=Network-Manager.service
After=Network-Manager.service

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-get-ssh-keys

[Install]
WantedBy=multi-user.target