[Unit]
Description=GQ Get Password Script
Requires=Network-Manager.service
After=Network-Manager.service

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-get-passwd

[Install]
WantedBy=multi-user.target