[Unit]
Description=GQ Get SSH Keys Script
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-get-ssh-keys

[Install]
WantedBy=multi-user.target