[Unit]
Description=GQ Get Userdata Script
Requires=NetworkManager.service
After=NetworkManager.service
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=/usr/local/qstack/bin/gq-get-userdata

[Install]
WantedBy=multi-user.target