text
skipx
install
url --url http://centos.t.is/centos/6/os/x86_64/
repo --name=updates --baseurl=http://centos.t.is/centos/6/updates/x86_64/
repo --name="EPEL" --baseurl=http://download.fedoraproject.org/pub/epel/6/x86_64
lang en_US.UTF-8
keyboard us
rootpw temp
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone CET
bootloader --location=mbr
zerombr
clearpart --all --initlabel
part /boot --fstype ext4 --fsoptions="noatime" --size=200
part pv.1 --size 1 --grow
volgroup vg0 pv.1
logvol / --fstype ext4 --fsoptions="noatime" --name=root --vgname=vg0 --size=1 --grow
logvol swap --fstype swap --name=swap --vgname=vg0 --size 4096

services --enabled=network,ntpd,ntpdate
 
reboot
 
%packages --nobase
epel-release
openssh-clients
openssh-server
yum
at
acpid
vixie-cron
cronie-noanacron
crontabs
logrotate
ntp
ntpdate
tmpwatch
rsync
sendmail
mailx
which
wget
-postfix
-prelink
-selinux-policy-targeted
%end

%post

	# Change to a vt to see progress

	exec < /dev/tty3 > /dev/tty3
	chvt 3

	# redirect output to ks-post.log including stdout and stderr
	(
		#######################################################
		# Turn off un-needed services
		#######################################################
		chkconfig sendmail off
		chkconfig vbox-add-x11 off
		chkconfig smartd off
		chkconfig ntpd off
		chkconfig cupsd off

	) 2>&1 | /usr/bin/tee /root/ks-post.log

	# switch back to gui
	chvt 7

%end

reboot
